cmake-build-*/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
compile_commands.json
install_manifest.txt
build/
*.o
*.out
*.log
.env
.vscode/
.idea/
*.dSYM/
.DS_Store
data/*.db
data/*.db-shm
data/*.db-wal
data/user_key.b64
